<h4>O que você procura?</h4>

<%= form_tag(recommend_power_generators_path, method: "get") do %>
  <div class="simple-form">
    <div class="simple-form__input" style="margin-left: 20px">
      <%= number_field_tag :price, nil, class: 'form-control form-control-lg', placeholder: 'Preço' %>
    </div>
    <div class="simple-form__input" style="margin-left: 20px">
      <%= number_field_tag :kwp, nil, class: 'form-control form-control-lg', placeholder: 'Carga' %>
    </div>
    <div class="simple-form__input" style="margin-left: 20px">
      <%= number_field_tag :height, nil, class: 'form-control form-control-lg', placeholder: 'Altura' %>
    </div>
    <div class="simple-form__input" style="margin-left: 20px">
      <%= number_field_tag :width, nil, class: 'form-control form-control-lg', placeholder: 'Largura' %>
    </div>
    <div class="simple-form__input" style="margin-left: 20px">
      <%= number_field_tag :lenght, nil, class: 'form-control form-control-lg', placeholder: 'Comprimento' %>
    </div>
    <div class="simple-form__input" style="margin-left: 20px">
      <%= number_field_tag :weight, nil, class: 'form-control form-control-lg', placeholder: 'Peso' %>
    </div>
    <div class="simple-form__input" style="margin-left: 20px">
      <%= submit_tag 'Mostre-me'%>
    </div>
  </div>
<% end %>